<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.honegroupp.familyRegister">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.home.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.authentication.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.home.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.home.ViewFamilyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.family.FamilyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.item.DetailSlide"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.item.DImageSlide"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.item.ItemEdit"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.family.FamilyCreateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.family.FamilyJoinActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.item.ItemUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.itemList.ItemListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.home.HelpFeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.home.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.home.UserDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.home.UserEditActivity"
            android:screenOrientation="portrait"/>

    </application>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>